@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  section {
    @apply overflow-hidden;
  }
}

@layer utilities {

  /* tiny scroll */
  .tiny-scroll::-webkit-scrollbar {
    @apply w-[11px];
  }

  .tiny-scroll::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .tiny-scroll::-webkit-scrollbar-thumb {
    @apply bg-[#65656F77] rounded-[20px];
  }

  .tiny-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-[#65656FCC];
  }
}

@layer components {
  .social-button {
    @apply flex items-center gap-2 px-3 py-2 text-white text-xs rounded-md hover:bg-opacity-90 sm:text-sm lg:text-base 2xl:text-[17px] 2xl:py-3 2xl:px-5;
  }
}